<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="http://localhost:5003" />
    <add key="IsHangfireJobsActive" value="true" />
    <add key="AllStudentsRetriever" value="* * * * *" />
    <add key ="Key" value="C235A12A6A0B65F1BCDAA3579D14D6DF4C89695781A2AEFF147FABD831EE6FC3" />
    <add key="ServerName" value="5DB3CFB6652FED415CB1C7CD788A0360506F194106F6734E9D52A470E4BADAEC" />
    <add key="DatabaseName" value="0D4C7FF8A58DAFBB470EBDE522FB7FB169C2A586906A2FB2B17D2A793D5B1C2C" />
    <add key="HangfireDatabaseName" value="0D4C7FF8A58DAFBB470EBDE522FB7FB1B095AD12C3B1093EE156961D3A0431AE" />
  </appSettings>
</configuration>