<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="http://localhost:5003" />

    <!--<add key="URL" value="http://192.168.1.236:1233" />-->
    <add key="IsHangfireJobsActive" value="true" />
    <add key="AllStudentsRetriever" value="* * * * *" />
  </appSettings>
</configuration>